$primary-color: #051c29;
$logo-color: #00bfa5;

.body {
  background-color: rgba(20, 20, 20, 1);
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  padding-top: 8ch;
}

h1 {
  font-size: 44px;
  color: $primary-color;
}

.container-wrap {
  display: flex;
  flex-wrap: wrap; /* Items can wrap to new lines */
  column-gap: 2px;
  padding: 20px;
}

.card-header-font {
  font-size: 12px;
  font: bold;
  display: flex;
  justify-content: space-between;
}
.card-font {
  font-size: 10px;
  color: black;
  font: bold;
}
.accordian-header-container {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  column-gap: 1cap;
  font-size: 13px;
  font-weight: 600;
  background-color: #fff9c4;
}
@media (max-width: 925px) {
  // .accordian-header-container {
  //   flex-direction: column;
  // }
  // .hc-container {
  //   flex-direction: column;
  // }
  // .hc-container__top_right_bar {
  //   justify-self: flex-start;
  //   margin: auto;
  // }
  .hc-container__body {
    flex-direction: column;
    border: #1e88e5 1px solid;
  }
}
.hc-info-container {
  padding: "16px";
  background-color: "#757575";
  font-size: large;
}

.hc-container {
  display: flex;
  column-gap: 1cap;
  font-weight: 600;
  background-color: #c9c7c0;
}
.hc-container__top_right_bar {
  display: flex;
  margin: 0px 0px 0px auto;
  column-gap: 1px;
  padding-right: 1px;
  //background-color: green;
}

.hc-container__top_left_bar {
  padding-left: 10px;
  color: black;
  font-weight: 700;
  font-size: 18px;
  align-self: center;

  //background-color: #fff9c4;
}
.hc-container__body {
  display: flex;
  column-gap: 1px;
  font-weight: 600;
  padding: 10px;
  margin: 0px auto;
}

.hc-item {
  padding: 2px 10px;
  padding-left: 5px;
  font-size: 12px; /* Adjust the font size as needed */
  color: rgb(20, 19, 19);
  font-weight: 600;
  background-color: #1e88e5;
  border-radius: 1px;
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(1.2);
  }
}
.hc-pill {
  font-size: 9px;
  color: black;
}
.hc-pill_menu {
  @extend .hc-pill;
  font-size: 11px;
  color: black;
}


.hc-item-menu {
  @extend .hc-item;
  color: rgb(255, 253, 253);
  font-size: 13px;
  font-weight: 600;
  border: #424242 1px solid;
  background-color: #6c757d;
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(0.7);
  }
}

.success {
  color: green;
}
.danger {
  color: red;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 70px;
  border-radius: 15%;
  object-fit: cover;
  animation: fade-down 0.5s 0.4s backwards;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgb(4, 4, 4);
    color: $logo-color;
  }
}
.logo_text {
  padding: 1px;
  &:hover {
    color: $logo-color;
  }
}
.postit {
  min-height: 300px;
  min-width: 300px;
  width: 300px;
  background-color: #fff9c4;
  font: 10px;
  color: black;
}

.footer {
  display: flex;
  font-size: 10px;
  font-weight: 600;
  width: 100%;
  color: black;
  background-color: #c9c7c0;
  padding: 3px;
}

.footer__left {
  display: flex;
  column-gap: 10px;
  width: 500px;
}
.footer__right {
  text-align: right;
  column-gap: 10px;
  width: 100%;
}
.hc-quick {
  font-size: 9px;
}

.logo {
  background-color: $logo-color;
  height: 50px;
  width: 50px;
  padding: 5px;
}
.logo-card-icon-color {
  padding-left: 5px;
  color: #64ffda;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.4;
  }
}
.logo-card-icon-color_link {
  @extend .logo-card-icon-color;
  color: #40c4ff;
}
