$primary-color: #051c29;

.body {
  background-color: rgba(20, 20, 20, 1);
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  padding-top: 8ch;
}

h1 {
  font-size: 44px;
  color: $primary-color;
}

.container-wrap {
  display: flex;
  flex-wrap: wrap; /* Items can wrap to new lines */
  column-gap: 2px;
  padding: 20px;
}

.card-header-font {
  font-size: 10px;
  font: bold;
  display: flex;
  justify-content: space-between;
}
.card-font {
  font-size: 10px;
  color: black;
  font: bold;
}
.accordian-header-container {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  column-gap: 1cap;
  font-size: 13px;
  font-weight: 600;
  background-color: #fff9c4;
}
@media (max-width: 825px) {
  .accordian-header-container {
    flex-direction: column;
  }
  // .hc-container {
  //   flex-direction: column;
  // }
  // .hc-container__top_right_bar {
  //   justify-self: flex-start;
  //   margin: auto;
  // }
  .hc-container__body {
    flex-direction: column;
  }
}
.hc-info-container {
  padding: "16px";
  background-color: "#757575";
  font-size: large;
}

.hc-container {
  display: flex;
  column-gap: 1cap;
  font-weight: 600;
  background-color: #a88008;
}
.hc-container__top_right_bar {
  display: flex;
  margin: 0px 0px 0px auto;
  column-gap: 1px;
  padding-right: 10px;
  //background-color: green;
}

.hc-container__top_left_bar {
  padding-left: 10px;
  color: black;
  font-style: italic;
  font-size: 12px;
  align-self: center;

  //background-color: #fff9c4;
}
.hc-container__body {
  display: flex;
  flex-direction: row;
  padding: 10px;
  //background-color: #fff9c4;
}
.hc-item {
  padding: 3px;
  font-size: 11px; /* Adjust the font size as needed */
  color: black;
  font-weight: 600;
  background-color: #1e88e5;
  border-radius: 1px;
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(0.9); // Increase brightness on hover
  }
}
.success {
  color: green;
}
.danger {
  color: red;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  animation: fade-down 0.5s 0.4s backwards;
}

.postit {
  min-height: 300px;
  min-width: 300px;
  width: 300px;
  background-color: #fff9c4;
  font: 10px;
  color: black;
}
